# Citi Bike Data Cleaning

This notebook contains the code to clean the citi bike data. After the data is cleaned, the data will be exported as a csv file so that it can be used to build visualizations in Tableau.

## Dependencies

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from pathlib import Path
import os, zipfile
import shutil
import glob

from datetime import datetime

## Extract data/csvs from zip file

In [2]:
# unzip files in Resources folder.
extension = ".zip"
extracted_dir_name = "."

# Get the current working directory.
# Need to be in root directory of this project for this to work.
cwd_dir_name = os.getcwd()
print(f"The current working directory is {cwd_dir_name}.")

os.chdir("Resources") # change directory from working dir to dir with zip file.
# This should be the "Resources folder.
dir_name = os.getcwd()
print(f"You are now in the following directory: {dir_name}.")

for item in os.listdir(dir_name): # loop through the items in the directory.
    if item.endswith(extension): # check for ".zip" extension"
        try:
            file_name = os.path.abspath(item) # get full path of files
            zip_ref = zipfile.ZipFile(file_name) # create zipfile object
            unzipped_directory = os.path.join(extracted_dir_name) # reference to the directory where the zip files will be extracted.
            zip_ref.extractall(unzipped_directory) # extract file to dir
            zip_ref.close() # close file
            print(f"Successfully unzipped {item} into the following folder:{dir_name}.")
        except Exception as e:
            print(f"Error trying to unzip data file(s).")
            print(e)
            
# Go up one directory into the project root directory.
os.chdir(os.path.normpath(os.getcwd() + os.sep + os.pardir))
print(os.path.normpath(os.getcwd() + os.sep + os.pardir))

The current working directory is C:\Users\phili\Desktop\tableau-challenge.
You are now in the following directory: C:\Users\phili\Desktop\tableau-challenge\Resources.
Successfully unzipped JC-202003-citibike-tripdata.zip into the following folder:C:\Users\phili\Desktop\tableau-challenge\Resources.
C:\Users\phili\Desktop

## Import csv files and read into pandas

In [3]:
# Path to csv files.
path_to_csvs = os.path.join(".", "Resources")
all_files = glob.glob(os.path.join(path_to_csvs, "*.csv"))

df_from_each_file = []

for f in all_files:
    filename = os.path.basename(f)
    df = pd.read_csv(f, encoding ="ISO-8859-1")
    df["month"] = f"{filename[3]}{filename[4]}{filename[5]}{filename[6]}-{filename[7]}{filename[8]}-01"
    df_from_each_file.append(df)

# Concantenated dataframe
concatenated_df = pd.concat(df_from_each_file, ignore_index=True)
concatenated_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1,2019-03-01
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1,2019-03-01
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2,2019-03-01
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1,2019-03-01
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1,2019-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433402,296,50:39.0,55:35.6,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,1,2020-03-01
433403,147,09:16.0,11:43.5,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,1,2020-03-01
433404,364,17:02.0,23:06.8,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,1,2020-03-01
433405,1217,36:10.6,56:27.8,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,1,2020-03-01
433406,846,37:21.2,51:28.1,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,1,2020-03-01

## Rename columns

In [4]:
concatenated_df = concatenated_df.rename(columns={
    "tripduration": "trip_duration",
    "starttime": "start_time",
    "stoptime": "stop_time",
    "start station id": "start_station_id",
    "start station name": "start_station_name",
    "start station latitude": "start_station_latitude",
    "start station longitude": "start_station_longitude",
    "end station id": "end_station_id",
    "end station name": "end_station_name",
    "end station latitude": "end_station_latitude",
    "end station longitude": "end_station_longitude",
    "bikeid": "bike_id",
    "usertype": "user_type",
    "birth year": "birth_year"
})

concatenated_df

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,month
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1,2019-03-01
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1,2019-03-01
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2,2019-03-01
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1,2019-03-01
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1,2019-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433402,296,50:39.0,55:35.6,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,1,2020-03-01
433403,147,09:16.0,11:43.5,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,1,2020-03-01
433404,364,17:02.0,23:06.8,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,1,2020-03-01
433405,1217,36:10.6,56:27.8,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,1,2020-03-01
433406,846,37:21.2,51:28.1,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,1,2020-03-01

## Check for NAs and null values

In [5]:
concatenated_df.count()

trip_duration              433407
start_time                 433407
stop_time                  433407
start_station_id           433407
start_station_name         433407
start_station_latitude     433407
start_station_longitude    433407
end_station_id             433407
end_station_name           433407
end_station_latitude       433407
end_station_longitude      433407
bike_id                    433407
user_type                  433407
birth_year                 433407
gender                     433407
month                      433407
dtype: int64

## Check data types

In [6]:
concatenated_df.dtypes

trip_duration                int64
start_time                  object
stop_time                   object
start_station_id             int64
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id               int64
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                      int64
user_type                   object
birth_year                   int64
gender                       int64
month                       object
dtype: object

## Convert ids from integers to strings

In [7]:
concatenated_df["start_station_id"] = concatenated_df["start_station_id"].astype(str)
concatenated_df["end_station_id"] = concatenated_df["end_station_id"].astype(str)
concatenated_df["bike_id"] = concatenated_df["bike_id"].astype(str)

In [8]:
concatenated_df.dtypes

trip_duration                int64
start_time                  object
stop_time                   object
start_station_id            object
start_station_name          object
start_station_latitude     float64
start_station_longitude    float64
end_station_id              object
end_station_name            object
end_station_latitude       float64
end_station_longitude      float64
bike_id                     object
user_type                   object
birth_year                   int64
gender                       int64
month                       object
dtype: object

## Clean up gender column

In [9]:
concatenated_df["gender"].value_counts()

1    304164
2    100371
0     28872
Name: gender, dtype: int64

In [10]:
concatenated_df["gender"] = concatenated_df["gender"].replace({
    0: "Unknown",
    1: "Male",
    2: "Female"
})

concatenated_df

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,month
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,Male,2019-03-01
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,Male,2019-03-01
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,Female,2019-03-01
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,Male,2019-03-01
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,Male,2019-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433402,296,50:39.0,55:35.6,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,Male,2020-03-01
433403,147,09:16.0,11:43.5,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,Male,2020-03-01
433404,364,17:02.0,23:06.8,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,Male,2020-03-01
433405,1217,36:10.6,56:27.8,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,Male,2020-03-01
433406,846,37:21.2,51:28.1,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,Male,2020-03-01

## Calculate rider age

In [11]:
concatenated_df["birth_year"].value_counts()

1969    28959
1987    23803
1989    23225
1988    23028
1986    21325
        ...
1887        2
1945        1
1938        1
1905        1
1901        1
Name: birth_year, Length: 72, dtype: int64

In [12]:
currentYear = datetime.now().year

concatenated_df["age"] = currentYear - concatenated_df["birth_year"]

concatenated_df

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,month,age
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,Male,2019-03-01,31
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,Male,2019-03-01,54
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,Female,2019-03-01,49
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,Male,2019-03-01,35
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,Male,2019-03-01,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433402,296,50:39.0,55:35.6,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,Male,2020-03-01,26
433403,147,09:16.0,11:43.5,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,Male,2020-03-01,29
433404,364,17:02.0,23:06.8,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,Male,2020-03-01,34
433405,1217,36:10.6,56:27.8,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,Male,2020-03-01,34
433406,846,37:21.2,51:28.1,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,Male,2020-03-01,55

## Export cleaned data to csv file

In [13]:
concatenated_df.to_csv("clean_citi_bike_data.csv", index=False)